@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;800&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  margin: 60px 23px;
  background-color: #ECE9FD;
  padding: 6.0rem 2.3rem 6.6rem;
}

:root{
  font-size: 62.5%;
}

main p:first-child{
  text-transform: uppercase;
  font-family: 'Epilogue', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3.2rem;

  color: #7158EF;
  margin-bottom: 1.7rem;
}

main{
  min-width: 33.8rem;
  margin: 0 auto;
}

h1{
  font-family: 'Epilogue', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: -2px;

  color: #090039;
  min-width: 33.8rem;
}

h1 + p{
  font-family: 'Epilogue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3.2rem;

  color: #0A0039A3;
  min-width: 20.8rem;
  margin-bottom:3.3rem ;

}

a{
  text-decoration: none;
  color: #090039;
  font-family: 'Epilogue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3.2rem;

}

a:hover{
  font-weight: bold;
}

ul{
  margin-top: 7.7rem;
}

ul li{
  display: flex;
  flex-direction: row;
  gap: 2.6rem;
  align-items: center;

  font-family: 'Epilogue', sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;

  margin: 4.8rem 0;
  text-decoration: none;

  color: #090039;

  min-width: 25.7rem;
}

ul li span {
  font-size: 7.2rem;
}

@media (min-width: 750px) {

  main {
    display: flex;
    flex-direction: row;
    gap: 10rem;

    max-width: 1120px;
  }

  ul li {
    gap: 5.3rem;
    max-width: 450px;
    align-items: center;
  }

 .part1 {
    max-width: 485px;
  }

  ul li + li {
    margin-top: 3.8px;
  }

  .part1 h1 + p {
    margin-top: 4.1rem;
  }
 
}